@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
  font-family: "Inter", sans-serif;
  
}
body{
     background-color: #1A0B2E;
}

main{
    margin-bottom: 300px;
}
.section-title{
    text-align: center;
    color: white;
    font-style: Bold;
font-size: 48px;
font-weight: 700;
margin-top: 50px;
margin-bottom: 30px;
}
.gradient{
   background: linear-gradient(to right bottom, white 2%, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


p{
    font-size: 16px;
font-weight: 400;
color: rgba(255, 255, 255, 0.692) ;
}
nav{
    display: flex;
    justify-content: space-between;
     margin: 20px 200px;
   
   
}
nav h1 {
    border: 1px solid rgba(0, 0, 0, 1);
    color: white; 
}
.navbar{
    display: flex;
    gap: 360px;
}
 .menu{
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
 }
 button{
gap: 4;
padding: 12px 16px 12px 16px;
border-radius: 15px;
color: white;
 background: linear-gradient(to left bottom, #F7E93F, #FB09B4, #9100F8);
 }
 .hamburger{
    display: none;
 }
 .about{
    justify-content: center;
    text-align: center;
     margin: 20px 200px;
 }
 .card-head{
 font-size: 48px;
font-weight: 800;
line-height: 50px;
text-transform: capitalize;
color:#00ff88 ;
margin-bottom: 10px;
 }
 
.about-card{
    border-top: 1px solid  rgba(255, 255, 255, 0.153);
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
   gap: 30px;
   margin-top: 100px;
   margin-bottom: 100px;
}
.choose-section{
background:  rgba(37, 13, 68, 1); 
margin: 20px auto;
padding-top: 50px;
padding-bottom: 50px;
}

 h5 {
    color: white;
font-style: Bold;
font-size: 20px;
font-weight: 600;
line-height: 29px;
margin-top: 10px ;
margin-bottom: 10px;
}
.box{
padding: 20px;
border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
}
.choose-box{
     margin: 20px 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr) ;
    gap: 20px;
}
.box-1 {
    grid-row: span 2;
}
.box-2 ,.box-3, .box-4 {
    grid-column: span 2;
}
.box-5{
    grid-column: span 1;
}
.box img{
    padding: 5px;
}

.features{
 width: 350px;
 height: 440px;
border-radius:  24px ;
background: rgba(37, 13, 68, 1);  
padding: 10px;

}
.feature-container{
    
  display: grid;
  grid-template-columns: repeat(3,1fr);
justify-items: center;
 margin: 20px 200px;
}
iframe{
  border-radius: 24px 24px 0px 0px;
}


 @media screen and (max-width: 576px) {
    
    body>*{
    margin: 0;
}
    .section-title{
font-size: 32px;
margin-top: 10px;
margin-bottom: 10px;
}
    .navbar{
        display: none;
    }
    .hamburger{
        display:inline;
        height: 24px;
    }
    nav{
    margin: 20px 20px;
   
}
.about ,.choose-box  ,.feature-container{
   
    margin: 20px 2px;
}
.card-head{
 font-size: 40px;
line-height: 38px;
margin-bottom: 10px;
 }
.about-card{
    
    grid-template-columns: repeat(2,1fr);
   gap: 10px;
   margin-top: 40px;
   margin-bottom: 40px;

}
.choose-box{
    
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr) ;
    gap: 20px;
}
.box {
    padding: 10px;
    margin: 10px;
}
.box-1 {
    grid-row: span 1;
}
.box-4{
    padding-bottom: 40px;
}
.feature-container {
   
    grid-template-columns: repeat(1, 1fr);
}
.features{
    margin-bottom: 20px;
}
 }