@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #1A0B2E;
}
body>*{
    margin: 20px 200px;
}
.section-title{
    color: white;
    font-style: Bold;
font-size: 48px;
font-weight: 700;
margin-top: 50px;
margin-bottom: 30px;
}
.gradient{
   background: linear-gradient(to right bottom, white 2%, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


p{
    font-size: 16px;
font-weight: 400;
color: rgba(255, 255, 255, 0.692) ;
}
nav{
    display: flex;
    justify-content: space-between;
    
   
}
nav h1 {
    border: 1px solid rgba(0, 0, 0, 1);
    color: white; 
}
.navbar{
    display: flex;
    gap: 360px;
}
 .menu{
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
 }
 button{
gap: 4;
padding: 12px 16px 12px 16px;
border-radius: 15px;
color: white;
 background: linear-gradient(to left bottom, #F7E93F, #FB09B4, #9100F8);
 }
 .hamburger{
    display: none;
 }
 .about{
    justify-content: center;
    text-align: center;
 }
 .card-head{
 font-size: 48px;
font-weight: 800;
line-height: 50px;
text-transform: capitalize;
color:rgba(0, 255, 136, 1) ;
margin-bottom: 10px;
 }
 
.about-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   gap: 30px;
   margin-top: 100px;
   margin-bottom: 100px;


}





 @media screen and (max-width: 576px) {
    
    body>*{
    margin: 10px 10px;
}
    .section-title{
font-size: 32px;
margin-top: 10px;
margin-bottom: 10px;
}
    .navbar{
        display: none;
    }
    .hamburger{
        display:inline;
        height: 24px;
    }
    nav{
    margin: 20px 20px;
   
}
.card-head{
 font-size: 40px;
line-height: 38px;
margin-bottom: 10px;
 }
.about-card{
    
    grid-template-columns: repeat(2,1fr);
   gap: 10px;
   margin-top: 40px;
   margin-bottom: 40px;

}
 }